@import "../lib/bootstrap/dist/css/bootstrap.custom.min.css";

:root { --navbar-sidebar-width: 280px; }



/*
    Sections:
        1. Navbar top
        2. Navbar sidebar
        3. Main and Footer Wrapper

*/


/*---------------Navbar Top (below md breakpoint)-----------------*/

.toggler-margin-left { margin-left: 12px; }

/*--> social list*/

#social-list a {
    width: 32px;
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
    display: inline-block;
    overflow: hidden;
    background-color: var(--bs-light);
}

#social-list a:hover {
    transition: all 0.4s ease-in-out;
    background-color: var(--bs-success);
}

#navigation-tabs i {
    min-width: 16px;
    max-width: 16px;
    color: var(--bs-light);
}

#navigation-tabs a:hover,
#navigation-tabs a:hover i { color: var(--bs-success); }



/*---------------Navbar Sidebar (above md breakpoint)-----------------*/


@media (min-width: 768px) {

    #navbar,
    #navigation {
        display: flex;
        flex-direction: column;
        width: 280px;
        min-height: 100vh;
    }
    
    #navigation-tabs {
        display: flex;
        flex-direction: column;
    }

    #btn-hire {
        width: 45% !important;
    }
}