@import "../lib/bootstrap/dist/css/bootstrap.custom.min.css";

/*
    Sections:
        1. Navbar top
        2. Navbar sidebar
        3.

*/


/*---------------Navbar Top-----------------*/

.toggler-margin-left {
    margin-left: 12px;
}

    /*--> social list*/

#social-list a {
    width: 32px;
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
    display: inline-block;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    background-color: var(--bs-light);
}

#social-list a:hover {
        /* color: var(--bs-dark); */
        background-color: var(--bs-gray-400);
    }