@import "../lib/bootstrap/dist/css/bootstrap.custom.min.css";

:root { --navbar-sidebar-width: 280px; }



/*
    Sections:
        0. General
        1. Navbar top
        2. Navbar sidebar
        3. Main and Footer Wrapper
        4. About-me-section
        5. Tech-section

*/

/*--------------- General -----------------*/

p { color: var(--bs-gray-700); }

/*---------------Navbar Top (below lg breakpoint)-----------------*/

.toggler-margin-left { margin-left: 12px; }

/*--> social list*/

#social-list a {
    width: 32px;
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
    display: inline-block;
    overflow: hidden;
    background-color: var(--bs-light);
}

#social-list a:hover {
    transition: all 0.4s ease-in-out;
    background-color: var(--bs-success);
}

#navigation-tabs i {
    min-width: 16px;
    max-width: 16px;
    color: var(--bs-light);
}

#navigation-tabs a:hover,
#navigation-tabs a:hover i { color: var(--bs-success); }



/*---------------Navbar Sidebar (above lg breakpoint)-----------------*/


@media (min-width: 992px) {
    #navbar {
        width: var(--navbar-sidebar-width);
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
    }

    #btn-hire { width: 45% !important; }
}


/*---------------Main And Footer Wrapper-----------------*/

@media (min-width: 992px) {
    #main-footer-wrapper {
        width: 100%;
        margin-left: var(--navbar-sidebar-width);
    }
}

/*---------------About-me-section-----------------*/

#about-me-section { background: var(--bs-gray-100); }

#profile-pic { max-height: 300px; }

/*---------------Tech-section-----------------*/
.tech-item > img {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
}