<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
</head>
<body>

<!-- PRE LOADER -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
    </div>
</div>

<!-- Navigation section  -->
<nav id="navBar" class="navbar navbar-default sticky-top navbar-expand-md navbar-light" role="navigation">
    <div class="container">

        <a asp-page="Index" class="navbar-brand ps-0">
            <i class="fa fa-magnet"></i>
        </a>

        <button class="navbar-toggler border-0" id="togglerIcon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>
                <i class="fa fa-bars" title="Menu"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse d-md-flex justify-content-md-end" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="">
                    <a class="ps-5 pe-0" asp-page="Index">Projects</a>
                </li>
                <li>
                    <a asp-page="About" class="ps-5 pe-0">About Me</a>
                </li>
                <li>
                    <a class="ps-5 pe-0" href="#">The Blog</a>
                </li>
                <li>
                    <a class="ps-5 pe-0" href="#">Contact Me</a>
                </li>
            </ul>
        </div>

    </div>
</nav>


<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<!-- Footer Section -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-3 d-sm-flex">
                <i class="fa fa-magnet align-self-sm-center"></i>
            </div>

            <div class="col-md-4 col-sm-4">
                <p>124 Market Street, Suite 3570 San Francisco, CA 3042 United States</p>
            </div>

            <div class="col-md-4 offset-md-1 col-sm-3 offset-sm-1 ">
                <p><a href="mailto:youremail@gmail.com">hello@yourstudio.co</a></p>
                <p>(+01) 2048937 / 02 203403</p>
            </div>

            <div class="clearfix col-md-12 col-sm-12 opacity-0">
                <hr>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="footer-copyright">
                    <p>© 2016 Magnet Studio | All Rights Reserved.</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <ul class="social-icon">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<!-- SCRIPTS -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/custom.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>