<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.custom.css"/>
    <link rel="stylesheet" href="~/css/custom.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    @* <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/> *@
    @* <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet"> *@
</head>
<body>

<!-- Navigation section  -->

<nav class="navbar bg-dark navbar-dark  navbar-expand-md">
    <div class="container-fluid d-flex justify-content-center">

        <button class="navbar-toggler position-absolute start-0 toggler-margin-left py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <a class="navbar-brand fw-bolder" href="#">Pawel Slugocki</a>
    </div>

    <div class="container-fluid mx-0">
        <div class="collapse navbar-collapse" id="navigation">
            <div class="row">
                <div class="col text-center">
                    <img class="mt-3" src="~/images/profile.png" alt="profile picture" style="max-width: 160px"/>
                    <p class="mt-3 mb-1 text-light">
                        Hello, My name is Pawel Slugocki and I am FullStack .NET Developer (mostly backend focused).
                    </p>
                    <p class="text-light">
                        Welcome to my personal website!
                    </p>

                    <ul id="social-list" class="list-group list-group-horizontal justify-content-center list-unstyled">
                         <li li class="p-3">
                            <a class="pt-0 d-flex justify-content-center" href="">
                                <i class="fab fa-linkedin-in  align-self-center" aria-hidden="true" title="Linked In"></i>
                            </a>
                        </li>
                        <li li class="p-3">
                            <a class="pt-0 d-flex justify-content-center" href="">
                                <i class="fab fa-github  align-self-center" aria-hidden="true" title="Github"></i>
                            </a>
                        </li>
                        <li li class="p-3">
                            <a class="pt-0 d-flex justify-content-center" href="">
                                <i class="fab fa-slack-hash  align-self-center" aria-hidden="true" title="The Blog"></i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

            <ul id="navigation-tabs" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active d-flex align-self-center" aria-current="page" href="#">
                        <span class="me-3">
                            <i class="fas fa-user-tie  align-self-center" aria-hidden="true" title="About Me"></i>
                        </span>About Me
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active d-flex align-self-center" aria-current="page" href="#">
                        <span class="me-3">
                            <i class="far fa-file-code  align-self-center" aria-hidden="true" title="Portfolio"></i>
                        </span>Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active d-flex align-self-center" aria-current="page" href="#">
                        <span class="me-3">
                            <i class="fas fa-portrait  align-self-center" aria-hidden="true" title="Resume"></i>
                        </span>Resume
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active d-flex align-self-center" aria-current="page" href="#">
                        <span class="me-3">
                            <i class="fab fa-slack-hash  align-self-center" aria-hidden="true" title="Tech Blog"></i>
                        </span>Tech Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active d-flex align-self-center" aria-current="page" href="#">
                        <span class="me-3">
                            <i class="far fa-comments  align-self-center" aria-hidden="true" title="Contact"></i>
                        </span>Contact
                    </a>
                </li>
            </ul>
            
            <button class="btn btn-primary w-100 text-white"> <i class="fas fa-paper-plane me-1"></i>Hire Me</button>

        </div>
    </div>

</nav>

<main role="main" class="container bg-light">
    @RenderBody()
</main>

<!-- Footer Section -->
<footer class="footer bg-info">
    <p>Footer</p>
</footer>

<!-- SCRIPTS -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/custom.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>