<div class="row">
    @* Lead card *@
    <div class="col-12 d-flex justify-content-center mb-4">
        <div class="card card-leader mb-3 rounded-0 bg-light overflow-hidden">
            <div class="row g-0">
                <div class="col-md-4 lead-card-img-holder overflow-hidden">
                    <img src="images/projects/project-4.jpg" class="card-img rounded-0" alt="...">
                </div>
                <div class="col-md-8 d-flex flex-column align-content-between">
                    <div class="card-body ">
                        <h5 class="card-title fw-bolder border-bottom border-2 d-inline border-primary">Bug Tracker</h5>
                        <p class="card-text mt-3">The Bug Tracker is a project that resolves specific business need- the ability to report, manage and resolve bugs in the company. It is an .NET MVC project that uses Bootstrap5, Postgresql database and Entity Framework.</p>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="link-mask">
                <div class="link-mask-link">
                    <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fas fa-eye me-3"></i>View Details</a>
                </div>
            </div>
        </div>
    </div>

    @* Other cards *@

    <div class="col-12 col-md-6">
        <div class="card  mb-3 rounded-0 bg-light overflow-hidden">
            <div class="row g-0">
                <div class="col-12 col-xxxl-5 card-img-holder overflow-hidden">
                    <img src="images/projects/project-4.jpg" class="card-img rounded-0" alt="...">
                </div>
                <div class="col-12 col-xxxl-7 d-flex flex-column align-content-between">
                    <div class="card-body ">
                        <h5 class="card-title fw-bolder border-bottom border-2 d-inline border-primary">Bug Tracker</h5>
                        <p class="card-text mt-3">The Bug Tracker is a project that resolves specific bussiness need- the ability to report, manage and resolve bugs in the company. It is an .NET MVC project that uses Bootstrap5, Postgresql database and Entity Framework.</p>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="link-mask">
                <div class="link-mask-link">
                    <a class="btn btn-dark" href="#"> <i class="fas fa-eye me-3"></i>View Details</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="card mb-3 rounded-0 bg-light overflow-hidden">
            <div class="row g-0">
                <div class="col-12 col-xxxl-5 card-img-holder overflow-hidden">
                    <img src="images/projects/project-4.jpg" class="card-img rounded-0" alt="...">
                </div>
                <div class="col-12 col-xxxl-7 d-flex flex-column align-content-between">
                    <div class="card-body ">
                        <h5 class="card-title fw-bolder border-bottom border-2 d-inline border-primary">Bug Tracker</h5>
                        <p class="card-text mt-3">The Bug Tracker is a project that resolves specific bussiness need- the ability to report, manage and resolve bugs in the company. It is an .NET MVC project that uses Bootstrap5, Postgresql database and Entity Framework.</p>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="link-mask">
                <div class="link-mask-link">
                    <a class="btn btn-dark" href="#"> <i class="fas fa-eye me-3"></i>View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<partial name="Partials/ProjectModal"/>