@page
@model Portfolio.Pages.PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<section id="portfolio-section" class="">
    <div  class="container-fluid">
        <div class="container px-4 pt-3 pb-3 pt-lg-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="fw-bold">Portfolio</h1>
                    <p class="lead">Welcome to my online portfolio!</p>
                    <p> Below you will find two sections- projects and mini-sites. Project section are web applications that solves specific business need. Mini sites are a small web applications that shows Javascript and C# .NET logic to resolve specific coding trivias </p>
                    <p class="text-primary fw-bolder">Currently I am available for work</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projects-section" class="px-4 pt-3 pb-5 p-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-bold border-start border-5 border-primary mb-5">
                    <span class="ps-3 h2 fw-bold">Projects</span>
                </h2>
            </div>
        </div>

        @* Main Projects List *@
        <partial name="Partials/MainProjects"/>
        

    </div>
</section>

<section id="mini-projects-section" class="px-4 pt-3 pb-5 p-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-bold border-start border-5 border-primary mb-5">
                    <span class="ps-3 h2 fw-bold">Mini Projects</span>
                </h2>
            </div>
        </div>

        <partial name="Partials/MiniProjects"/>
    </div>
</section>

@section Scripts
{
    
}